html{
	min-height: 100%;
	position: relative;
}
body {
	background: url(../images/background-js.gif);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	min-height: 100%;
	font-family: Monofur, monaco;
	font-weight: bold;
}

.container{
	width: 1000px;
}

#header{
	background-color: rgba(255,255,255,0.5);
	margin-top:20px;
	text-align: center;
	font-size: 30px;
	border: 3px solid #000000;
	border-radius: 5px;
}

#header h1{
	font-size: 48px;
	font-weight: bold;
}

#wrapper{
	/*background-color: rgba(255,255,255,0.5);*/
	margin: 40px auto;
	text-align: center;
}

#timer{
	font-size: 48px;
	background-color: #000000;
	color: #FCDC3B;
	padding: 5px 10px;
}

.choiceAns{
	background-color: #FFEC8B;
	height: 100px;
	opacity: .9;
	font-size: 24px;
	text-align: center;
	border-radius: 5px;
	border: 2px solid black;
	margin-top: 20px;

}

.choiceAns:hover{
	background-color: black;
	color: #FCDC3B;
	border: 1px solid red;

}
.mainQuestion{
	background-color: black;
	opacity: .9;
	border-radius: 5px;
	padding: 30px;
	font-size: 30px;
	color: #FCDC3B;
	margin-bottom: 20px;
	height: 130px;
}

.glyphicon-ok{
	color : green;
}

.glyphicon-remove{
	color: red;
}

#resultsLabel{
	font-size: 40px;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
}

#resultsModal{
	background-color: #000000;
	font-size: 30px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

#resultsFooter{
	text-align: center;
}

.modalButton{
	padding: 10px;
	margin: 0px 10px;
	font-size: 24px;
	font-weight: bold;
}